body {
    font-family: sans-serif;
}

h1 {
    color:darkgrey
}

#list_box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    margin-bottom: 5%;
}

.thumb {
    display: flex;
    overflow: hidden;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.product:hover .thumb {
    cursor: pointer;
    opacity: .5;
}

.product p {
    margin: 10px;
}

.price_tag {
    float: right;
}