{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'bundle.js' %}" type="text/javascript" defer></script>
    <title>letsshop</title>
</head>
<body>
    <!-- <div id="app"></div> -->
    <div id='site_header'>
        <h1>
            <a href="{% url 'home' %}">
                Let's Shop!
            </a>
        </h1>
        <div class='header_btn'>
            <img src="{% static 'login.svg' %}">
        </div>
        <div class='header_btn'>
            <img src="{% static 'cart.svg' %}">
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer>
        <p>Let's Shop! @nickdocode 2020</p>
    </footer>
</body>
</html>