{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'bundle.js' %}" type="text/javascript" defer></script>
    <title>letsshop</title>
</head>
<body>
    <!-- <div id="app"></div> -->
    <div id='site_header'>
        <h1>
            <a href="{% url 'home' %}">
                Let's Shop!
            </a>
        </h1>
        <div class='log_btn' id='show_menu'>
            {% if user.is_authenticated %}
                    <p style='text-align:right;margin:0 5px;font-size:12px'>
                        <span style='color:gray'>Hello,</span><br>{{ request.user.get_short_name }}
                    </p>
                    <img src="{% static 'login.svg' %}">
                    <div id='hover_menu'>
                        <div></div>
                        <div></div>
                        <div>
                            <form action="{% url 'accounts:logout' %}" method='post'>
                                {% csrf_token %}
                                <button type='submit'>Log Out</button>
                            </form>
                        </div>
                    </div>
            {% else %}
                <a href="{% url 'accounts:login' %}">
                    <img src="{% static 'login.svg' %}">
                </a>
            {% endif %}
        </div>
        <div class='cart_btn'>
            <img src="{% static 'cart.svg' %}">
            <div id='item_num'></div>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <footer>
        <p>Let's Shop! @nickdocode 2020</p>
    </footer>
</body>
</html>


<script defer>
    document.getElementById('show_menu').addEventListener('mouseover', ()=>{
        document.getElementById('hover_menu').style.display='grid';
    })
    document.getElementById('hover_menu').addEventListener('mouseover', ()=>{
        document.getElementById('hover_menu').style.display='grid';
    })
    document.getElementById('show_menu').addEventListener('mouseleave', ()=>{
        document.getElementById('hover_menu').style.display='none';
    })
    document.getElementById('hover_menu').addEventListener('mouseleave', ()=>{
        document.getElementById('hover_menu').style.display='none';
    })
</script>