{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <div class='product_box'>
        <div class='product_profile'>
            {% for image in images %}
                <img src='{{ image.image.url }}' width='100%'>
            {% endfor %}
        </div>
        <div class='product_detail' id='cart_info'>
            <div style='color:darkgray'>
                {{ product.category }}
                <div class='price_tag'>
                    $<span id='price_tag'>{{ product.price }}</span>
                </div>
            </div>
            <div id='product_title'>{{ product.title }}</div>
            <input type='button' id='product_id' value='{{ product.id }}' style='visibility: hidden'></input>
            <div class='product_sizes'>
                <div class='size_title'>Select size</div>
                {% for sz in sizes %}
                <div class='size_box'>
                    <input type="radio" v-model="form.size" class='size_radio' id='{{ sz.size }}' value='{{ sz.size }}' style='display:none'>
                    <label for='{{ sz.size }}'>{{ sz.size }}</label>
                </div>
                {% endfor %}
            </div>
            <div id='primary_image' style='visibility: hidden'>{{ product.primaryImage.url }}</div>
            <div>
                <input 
                    type='button' 
                    class='btn_style' 
                    value='Add to Cart' 
                    @Click='updateCookie'
                    style='background-color:black;color:white'>
                </input>
            </div>
            <div style='margin-top:10px'>
                <button class='btn_style'>Favorite</button>
            </div>
            <div class='product_des'>{{ product.description }}</div>
        </div>
        <div id='notification_tab'></div>
    </div>
{% endblock %}

{% block site_scripts %}
<script src="{% static 'bundles/product_detail.js' %}" type="text/javascript" defer></script>
<script type='text/javascript' src="{% static 'general.js' %}" defer></script>
{% endblock %}