{% extends 'base_layout.html' %}

{% block content %}
    <h1>Porduct list</h1>
    <div id='list_box'>
        {% for product in products %}
            <div class='product'>
                {% for image in images %}
                    {% if image.product_id == product.id and forloop.first %}
                        <div class='thumb'>
                            <img src='{{ image.image.url }}' width='100%'>
                        </div>
                    {% endif %}
                {% endfor %}
                <p>
                    {{ product.title }}
                    <span class='price_tag'>${{ product.price }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}